.container-gallery {
  max-width: 90%;
}

.grid-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-auto-rows: 250px;
}

.gallery-img:nth-child(odd) {
  grid-row-end: span 2;
}

.gallery-img:last-child {
  grid-row-end: span 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .grid-gallery {
    grid-auto-rows: 350px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
  }

  .gallery-img:nth-child(odd) {
    grid-row-end: span 2;
  }

  .gallery-img:last-child {
    grid-row-end: span 1;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid-gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: 500px;
  }

  .gallery-img:nth-child(odd) {
    grid-row-end: span 1;
  }

  .container-gallery {
    max-width: 700px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .grid-gallery {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
  }

  .gallery-img:nth-child(odd) {
    grid-row-end: span 1;
  }

  .container-gallery {
    max-width: 1000px;
  }
}
